*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  background-color:rgb(255, 255, 255);
  font-family: 'Noto Sans', sans-serif;
}

/* utility */

.container{
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}


.d-flex{
    display:flex;
}

.around{
    justify-content: space-around;
}

.betweeen{
  justify-content: space-between;
}

.center{
    align-items: center;
}

.row{
    flex-flow: row, nowrap;
}

.column{
    flex-flow: column, nowrap;
}

.start{
    justify-self: flex-start;
}

.end{
    justify-self: flex-end;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

/* header */

.hero{
  background-image: url(./img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:500px;
  position: center;
}

header a{
  color: white;
}
