
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

body{
  background-color:rgb(255, 255, 255);
  font-family: 'Noto Sans', sans-serif;
}

/* utility */

.d-flex{
    display:flex;
}

.around{
    justify-content: space-around;
}

.between{
  justify-content: space-between;
}

.center{
    align-items: center;
    align-content: center;
}

.row{
    flex-flow: row;
}

.column{
    flex-flow: column;
}

.start{
    justify-self: flex-start;
}

.end{
    justify-self: flex-end;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

/* header */

.container{
  width:100%;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

#hero{
  background-image: url(./img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:500px;
  background-position:center;
}

nav.container{
  padding-top:20px;
}

.links{
  width:50%;
  font-size: 0.8em;
}

header a{
  color: white;
}

.btn{
  border-radius: 25px;
  padding: 0.5em;
  text-align: center;
}

nav a.btn{
  background-color: white;
  color: black;
  font-size: 0.8em;
}

header section.container{
  width:50%;
  padding-top: 10%;
  color:white;
}

header h1{
  font-size: 2.5em;
}

header p{
  padding-top:20px;
  line-height: 1.5em;
}

div.buttons{
  padding-top:30px;
}

#white-link{
  color:black;
  background-color: white;
}

#black-link{
  color:white;
  background-color: black;
}

/* main */

article{
  max-width: 25%;
  padding-top: 10%;
}

article h2{
  font-size: 2.5rem;
}

article p{
  font-size: 1rem;
  padding-top:20%;
  line-height: 2em;
}

section img{
  max-width: 50%;
}

#full-size{
  max-width: 100%;;
}